<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gemma"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gem"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmFinalOnlineOrder"
            android:exported="false"/>

        <activity
            android:name=".Trending"
            android:exported="false" />
        <activity
            android:name=".UserRecentSum"
            android:exported="false" />
        <activity
            android:name=".RazorPay"
            android:exported="false" />
        <activity
            android:name=".SearchProduct"
            android:exported="false" />
        <activity
            android:name=".AdminUsersProducts"
            android:exported="false" />
        <activity
            android:name=".ConfirmFinalOrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminNewOrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboarding"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WishList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Chains"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Advertisments"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminAddNewProduct"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".All"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Boho"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Oxidized"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Bridal"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProductDetails"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Kids"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NosePin"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Bracelet"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Set"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Handmade"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Earrings"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Bangles"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserAccount"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Rings"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminActivityCategory"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RateUs"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".faqActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>